.logo_login_container {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.logo_container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

#login_div {
    background-color: #748E8F;
    border-radius: 100%;
    border: none;
}

.login_container {
    font-family: Arial;
    font-weight: inherit;
    font-size: medium;
    color: #748E8F;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}


#website_logo {
    width: 50px;
    margin-bottom: 8px;
}

#headline {
    color: orange;
}

#login_logo {
    height: auto;
    width: 30px;
    padding: 0.5px;
}

#login_div:hover {
    cursor: pointer;
    background-color: orange;
}

#registration_shortcut:hover {
    cursor: pointer;
    color: orange;
}