.new_message_card {
    border: 1px solid #748E8F;
    box-shadow: 1px 1px #748E8F;
    border-radius: 8px;
    display: flex;
    flex-flow: column nowrap;
    padding: 25px;
    background-color: whitesmoke;
}

.new_message_form {
    display: flex;
    flex-flow: column nowrap;
    gap: 3px;
}

#button_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new_message_form input {
    border: 1px solid #748E8F;
    background-color: white;
}

.new_message_form textarea {
    border: 1px solid #748E8F;
    background-color: white;
}

.new_message_form button {
    background-color: orange;
    border: 1px solid #748E8F;
    width: 30%;
}

.new_message_form button:hover {
    background-color: lightgreen;
    cursor: pointer;
}

.close_popup {
    background-color: beige;
    border: none;
    position: absolute;
    margin-left: 455px;
    margin-top: -20px;
}

.close_popup:hover {
    scale: 1.1;
    cursor: pointer;
}