.detail_container {
    display: flex;
    flex-flow: row nowrap;
    gap: 50px;
}

.info_container {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    width: 60%;
}

.detail_table {
    text-align: left;
}

.detail_table tr,th {
    border-bottom: 1px solid #ddd;
    width: 50%;
    font-weight: normal;
}


.detail_image_container {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.detail_image_container img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

#send_message {
    margin-right: 10px;
    background-color: white;
    border: none;
    scale: 1.5;
}

#send_message:hover {
    cursor: pointer;
}
