.card_container {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    margin-top: 8vh;
}

.add_search_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}


.place_pet_form {
    border-radius: 10px;
    margin-top: 30px;
    background-color: whitesmoke;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding: 10px;
}

.table_container {
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    font-size: small;
}

.table_container_left {
    width: 50%;
}

.table_container_right {
    width: 50%;
}

.table_container table {
    display: flex;
    flex-flow: nowrap column;
    padding: 5px;
    text-align: left;
}


.table_container tr {
    display: flex;
    font-size: small;
    font-style: normal;
    font-weight: 100;
    padding: 2px;
}

.table_container th {
    display: flex;
    width: 20%;
    border: none;
}


.first_col {
    font-weight: bold;
    font-style: normal;
    font-size: small;
}

.table_container_right input {
    height: 20px;
}
#add_image {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 12px;
    padding: 0.5px;
}
#add_image:hover {
    background-color: lightgreen;
    cursor: pointer;
}
.table_container_right img {
    height: 20px;
}


.add_search_container form {
    display: flex;
    padding: 5px 20px 5px 10px;
    border: 1px solid #748E8F;
    border-radius: 20px;
    box-shadow: 1px 1px #748E8F;
    gap: 10px;
    align-items: center;
}

.add_search_container input {
    border: 1px solid white;
    height: 90%;
}

.add_search_container button {
    border: 1px solid white;
    background-color: white;
}


textarea {
    resize: none;
}


#input_description {
    width: max-content;
    height: 100px;
}

#place_pet_button_container {
    display: flex;
    justify-content: center;
}

#place_pet_button_container button {
    width: 30%;
    height: 30px;
    background-color: orange;
    border: 1px white solid;
    border-radius: 15px;
    margin-bottom: 15px;
}

#place_pet_button_container button:hover {
    cursor: pointer;
    background-color: lightgreen;
}

#add_pet_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.add_pet_button {
    scale: 3;
    background-color: transparent;
}

.add_pet_button:hover {
    cursor: pointer;
}

#uploaded_images_container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.uploaded_image {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 3px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: whitesmoke;
}

.uploaded_image:hover {
    background-color: white;
}

.uploaded_image button {
    background-color: whitesmoke;
    border: none;
}

.uploaded_image button:hover {
    cursor: pointer;
    scale: 1.1;
}