.message_card_container {
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.message_option_container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#refresh {
    border: none;
    border-radius: 50%;
    background-color: white;
}

#refresh:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

#refresh img{
    width: 40px;
}

#refresh img:hover{
    cursor: pointer;
}