header {
    background-color: black;
    margin-bottom: 30px;
}

main {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

footer {
    margin-top: 30px;
    background-color: black;
}

.color_touch_1 {
    height: 20px;
    background-color: #393434;
}
.color_touch_2 {
    height: 5px;
    background-color: #748E8F;
}

.petCard_container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: 25px;
}

.input_container {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.input_form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: fit-content;
    padding: 7px 20px 7px 10px;
    border: 1px solid #748E8F;
    border-radius: 20px;
    box-shadow: 1px 1px #748E8F;
}

.input_form select {
    background-color: white;
    border: none;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.input_form input {
    background-color: white;
    border: none;
}

.input_form button {
    background-color: white;
    width: fit-content;
    border: solid 1px white;
    border-radius: 100%;
    cursor: pointer;
    padding: 8px;
}


#active_search {
    border: 1px solid white;
    padding: 10px;
    font-family: Arial;
    font-style: italic;
    font-size: x-small;
    color: #748E8F;
    border-radius: 30px;
}

#active_search:hover {
    background-color: whitesmoke;
}

#active_search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#active_search button:hover {
    scale: 110%;
}

.filter_container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.species_filter_container {
    display: flex;
    flex-flow: row;
    gap: 15px;
}

#species_filter_cat {
    display: none;
}

#species_filter_cat:checked + label > img {
    scale: 80%;
}

#species_filter_dog {
    display: none;
}

#species_filter_dog:checked + label > img {
    scale: 80%;
}

.filter_container button {
    border: none;
    background-color: white;
}

#dog_logo {
    width: 55px;
}

#cat_logo {
    width: 55px;
}

#filter_logo {
    width: 50px;
}

#search_logo {
    width: 30px;
}

#dog_logo:hover {
    scale: 95%;
    cursor: pointer;
}

#cat_logo:hover {
    scale: 95%;
    cursor: pointer;
}

#filter_logo:hover {
    cursor: pointer;
}

.input_form button:hover {
    background-color: orange;
}

#website_logo {
    width: 50px;
}

#headline {
    color: white;
}



