header {
    background-color: black;
    margin-bottom: 30px;
}

main {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-flow: column nowrap;
}

footer {
    margin: 0;
    background-color: black;
}

.logo_login_container {
    display: flex;
    flex-flow: row nowrap;
}

.petCard_container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: 25px;
}

.input_container {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.filter_container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
